@font-face {
  font-family: Avenir Next;
  src: url("font/AvenirNextLTPro-Regular.otf") format("opentype");
}

:root {
  --darklight: #ffffff;
  --darklight-pure: #ffffff;
  --darklight-blue: #c7dffc;
  --darklight-opacity: #ffffff99;
  --darklight-opacity-fbgb: #ffffffde;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  transition: 0.5s;
  margin: 0;
  overflow: hidden;
  cursor: url("cursor.cur"), auto;
  font-family: 'Avenir Next';
  background: url('img/Wallpapers/tos-wallpaper.png') no-repeat center fixed, var(--darklight-blue);
  background-size: cover !important;
}

p, b {
  font-size: 15px;
}

* {
  font-weight: 100;
}

.notif {
  position: absolute;
  right: 10px;
  right: -100px;
  background: var(--darklight-opacity-fbgb);
  backdrop-filter: blur(10px);
  padding: 0px 20px 10px 20px;
  transition: 1s;
  z-index: 10000;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  width: 300px;
  text-align: left;
  margin: 10px;
}

.notif p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: -10px;
}

.notif h4 {
  margin-top: 5px;
}

.context-menu {
  font-family: sans-serif;
  position: absolute;
  font-size: 12px;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--darklight-opacity);
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 5px;
  list-style: none;
  z-index: 1000;
}
.menu > li > a {
  font: inherit;
  border: 0;
  padding: 5px 15px 5px 7.5px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  border-radius: 2px;
  font-weight: 500;
}
.menu > li > a:hover,
.menu > li.trash > a:hover {
  background: linear-gradient(#4477ff, #3366ff);
  color: #ffffff;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.trash > a {
  color: red;
}
.popup {
  position: absolute;
  display: none;
  z-index: 9;
  background-color: var(--darklight-opacity-fbgb);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  min-height: 150px;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0 0 10px black;
}

.popup-header {
  z-index: 10;
  background-color: transparent;
  text-align: right;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  padding: 5px 0;
  padding-top: 3px;
}

.popup-fullheader {
  z-index: 10;
  box-shadow: 0 0 5px black;
  text-align: right;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  padding: 5px 0;
  padding-top: 3px;
  display: none;
  float: right;
  background: var(--darklight);
}

.popup .resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.popup .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.popup .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.maximized {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.maximized .popup-header {
  display: none;
}

.maximized .popup-fullheader {
  display: initial;
}

.bar {
  position: fixed;
  bottom: 24px;
  transition: 0.3s;
  margin-bottom: -5px;
  z-index: 40;
  padding: 2.5px 16px 0px 16px;
  min-width: 300px;
  background: var(--darklight-opacity-fbgb);
  backdrop-filter: blur(50px);
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50px;
}

.bar img {
  height: 28px;
  padding: 5px;
  transition: 0.25s linear;
}

.bar img:hover, .appmenu img:hover {
  transform: scale(1.2);
}

.hbtn {
  padding: 5px 15px;
  font-family: sans-serif;
}

.hbtn:hover {
  background: #ffffff22;
}

.close:hover {
  background: #dd0000;
}

#clock {
  transition: 0.3s;
  float: right;
  display: inline !important;
}

#vernum {
  position: fixed;
  transition: 0.3s;
  top: 10px;
  left: 10px;
  display: inline !important;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.mnu {
  padding: 40px;
  min-width: 400px;
  background: white;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}
.mnu img {
  margin: 5px;
}
.loader {
  transition: 0.3s;
  z-index: 101;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: center;
  background: var(--darklight-pure);
  transition: 1s;
}

.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.loader h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes notice {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appmenu {
  position: fixed;
  width: 50%;
  height: 75%;
  background: var(--darklight-opacity-fbgb);
  border-radius: 10px;
  backdrop-filter: blur(100px);
  display: none;
  transform: translate(-50%);
  left: 50%;
  bottom: -100%;
  transition: 0.3s;
  z-index: 10000000000000;
  transition: 0.5s;
  opacity: 0;
}

.appmenu .appicons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s linear !important;
}

.todo {
  text-align: center;
  min-width: 800px;
  min-height: 600px;
}

input[type="text"], input[type="password"] {
  background: #f2f2f2;
  padding: 5px;
  border: 0;
  border-radius: 5px;
}

input[type="submit"],
button {
  background: #f0f0f0;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
}

.setup {
  position: absolute;
  box-sizing: border-box;
  background: var(--darklight-opacity-fbgb);
  padding: 50px;
  margin: 50px;
  display: none;
  z-index: 100;
  backdrop-filter: blur(100px);
  border-radius: 10px;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  opacity: 0;
  transition: 0.3s;
}
#reduceload {
  padding: 10px;
}

.lscrn {
  position: fixed;
  background: url("img/lockscreen.jpeg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 100;
}

.lscrn h1 {
  color: black;
  margin: 100px;
  font-size: 96px;
}

.lscrn img {
  border-radius: 50%;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  margin-left: calc(50% - 50px);
  margin-top: calc(50% - 700px);
}

.lscrn:target {
  display: none;
  
}

.statusbar {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  background: var(--darklight-opacity-fbgb);
  backdrop-filter: blur(100px);
  transform: translate(-50%);
  left: 50%;
  top: 10px;
  min-width: 300px;
}

.logincontainer {
  position: fixed;
  background: var(--darklight-opacity);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 101;
  opacity: 0;
  transition: 0.3s;
}